<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#c36a2d"/>
    <meta name="description" content="Web yang tepat untuk mencari restoran terbaik yang di kota Anda!">

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="../sc-icon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
    <title>eat.io</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link" tabindex="0">Menuju ke konten</a>

    <!-- navbar -->
    <app-bar></app-bar>

    <!-- Jumbotron -->
    <app-hero></app-hero>

    <!-- konten -->

    <main id="mainContent" tabindex="0"></main>

    <!-- footer -->
    <app-footer></app-footer>
    
  </body>
</html>

