@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header {
  min-height: 60px;
  transition: min-height 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.header_logo {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #805b1b;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.5s;
  letter-spacing: 4px;
}

.menu_toggle {
  font-size: 32px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-width: 0;
}

.appbar {
  justify-content: space-around;
}

.appbar a {
  text-decoration: none;
}

.header-nav {
  transform: translate(0, -250px);
  transition: transform 0.3s ease-in-out;
  /* transform: translate(250px, 0);
  transition: transform 0.6s ease-in-out; */
}

.header-nav.open {
  transform: translate(0, 0);
}

.nav-item {
  box-sizing: border-box;
  display: inline-block;
  line-height: 24px;
  font-size: 18px;
}

.nav-list a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: #616161;
}

.nav-list a:hover {
  text-decoration: underline;
  color: #000;
}

.about-us a {
  background-color: #805b1b;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.5s;
}

.about-us a:hover {
  text-decoration: none;
  background-color: #b6a42e;
  color: black;
  transition: 0.5s;
}

.hero {
  display: flex;
  height: 500px;
  width: 100%;
  text-align: center;
  background-image: image-set(url(../public/images-opt/hero-image_2-2-small.jpg));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  align-items: center;
}

.hero-inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero-title {
  color: orange;
  font-weight: 600;
  font-size: 40px;
}

.hero-tagline {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

main {
  width: 100%;
  margin: auto;
  padding: auto;
}

.resto {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
.resto h1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 50px;
}

.content-title {
  border-bottom: 3px solid #b6a42e;
}

.list-resto {
  margin: 32px auto auto;
  text-align: left;
}

.resto-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.city {
  position: absolute;
  background-color: #c36a2d;
  border-radius: 0 5px 0 5px;
  padding: 10px 15px;
  color: white;
  top: 0;
  right: 0;
  font-size: 14px;
}

.resto-item-content {
  padding: 16px;
}

.rating {
  font-size: 16px;
  color: #c36a2d;
  font-weight: bold;
}
.resto-item-thumbnail {
  width: 100%;
  max-height: 250px;
}

.resto-item-title {
  font-weight: 500;
  margin-top: 16px;
}

.resto-item-title a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.resto-item-description {
  margin-top: -40px;
  font-size: 14px;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  line-height: 1.5em;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

footer {
  text-align: center;
  color: #fbfbfb;
  background-color: #c36a2d;
  font-weight: 800;
  padding: 7vh 0;
  font-size: large;
  margin-top: 20px;
}
.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #c36a2d;
  color: white;
  padding: 10px;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
}
.skip-link:focus {
  top: 100px;
}

.btn-detail {
  min-width: 44px;
  min-height: 44px;
  display: inline-block;
  color: #ffffff;
  background-color: #c36a2d;
  padding: 10px;
  border-radius: 7px;
  border: 2.1px solid #ffffff;
  transition: 0.5s;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  margin-top: 16px;
}

.btn-detail:hover {
  min-width: 44px;
  min-height: 44px;
  background-color: #ffffff;
  color: #ac5900;
  transition: 0.5s;
  border: 2.1px solid #ac5900;
  cursor: pointer;
  text-decoration: none;
}

.btn-detail a {
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
  color: white;
  text-decoration: none;
  background-color: #ac5900;
  padding: 10px 0;
  border-radius: 5px;
}

.page-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid #dadada;
  border-top-color: #C36A2D;
  z-index: 99;
  animation: spin 10s linear infinite;
}


.btn-loader {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 5px solid #dadada;
  border-top-color: #C36A2D;
  animation: spin 1s linear infinite;
}